services:
  # DATABASE (Postgres)
  db:
    image: postgres:15
    container_name: rossmann_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: rossmann_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    restart: always

  # APP (Python)
  app:
    build: .
    container_name: rossmann_app
    command: streamlit run src/dashboard.py --server.port=8501 --server.address=0.0.0.0
    volumes:
      - .:/app
    environment:
      - DB_HOST=db
      - DB_NAME=rossmann_db
      - DB_USER=admin
      - DB_PASSWORD=admin
    ports:
      - "8501:8501"
    depends_on:
      - db

volumes:
  postgres_data: