services:
  # DATABASE 1: Rossmann Sales Records
  db:
    image: postgres:15
    container_name: rossmann_db
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin
      POSTGRES_DB: rossmann_db
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./sql:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"
    restart: always
    networks:
      - rossmann-net

  # DATABASE 2: MLflow Metadata Store
  mlflow_db:
    image: postgres:15
    container_name: mlflow_metadata_db
    environment:
      POSTGRES_USER: mlflow_admin
      POSTGRES_PASSWORD: mlflow_password
      POSTGRES_DB: mlflow_tracking
    volumes:
      - mlflow_postgres_data:/var/lib/postgresql/data
    ports:
      - "5433:5432"
    restart: always
    networks:
      - rossmann-net

  # MLflow SERVER
  mlflow:
    image: ghcr.io/mlflow/mlflow:v2.10.2
    container_name: mlflow_server
    depends_on:
      - mlflow_db
    ports:
      - "5001:5000"
    volumes:
      - mlflow_data:/mlflow_data
    environment:
      - DB_URL=postgresql://mlflow_admin:mlflow_password@mlflow_db:5432/mlflow_tracking
    entrypoint: >
      /bin/sh -c "
      pip install psycopg2-binary && 
      mlflow server 
      --backend-store-uri postgresql://mlflow_admin:mlflow_password@mlflow_db:5432/mlflow_tracking 
      --default-artifact-root /mlflow_data 
      --host 0.0.0.0"
    networks:
      - rossmann-net

  # APP (Python / Streamlit / Training)
  app:
    build: .
    container_name: rossmann_app
    command: streamlit run src/dashboard.py --server.port=8501 --server.address=0.0.0.0
    volumes:
      - .:/app
      - mlflow_data:/mlflow_data
    environment:
      - DB_HOST=db
      - DB_NAME=rossmann_db
      - DB_USER=admin
      - DB_PASSWORD=admin
      - MLFLOW_TRACKING_URI=http://mlflow:5000
      - MLFLOW_ARTIFACT_ROOT=/mlflow_data
      - TF_CPP_MIN_LOG_LEVEL=3
      - GIT_PYTHON_REFRESH=quiet
    ports:
      - "8501:8501"
    depends_on:
      - db
      - mlflow
    networks:
      - rossmann-net

networks:
  rossmann-net:
    driver: bridge

volumes:
  postgres_data:
  mlflow_postgres_data:
  mlflow_data: